<template>
  <v-app-bar
    app
    color="pink"
    dark
  >
    <div class="d-flex align-center">
      <v-img
        alt="Distribuidora Un Mundo de Belleza"
        class="shrink mr-2"
        contain
        :src="require('@/assets/logotipo.png')"
        transition="scale-transition"
        width="40"
      />
      Un Mundo de Belleza
    </div>

    <v-spacer></v-spacer>

    <ShoppingCart />
    <v-btn
      href="https://wa.me/573044529467"
      target="_blank"
      text
      class="ml-3 pl-1 pr-0"
    >
      <v-icon class="mr-1">mdi-whatsapp</v-icon>
      <span>3044529467</span>
    </v-btn>
  </v-app-bar>
</template>

<script>
import ShoppingCart from '@/components/ShoppingCart';
export default {
  name: "AppBar",
  props: {
    total: {
      type: Number,
      default: 0,
    },
  },
  components: {
    ShoppingCart,
  },
};
</script>
